[fetch]
	prune = true
	pruneTags = true
[user]
	name = primeapple
	email = toni.mueller.web@mailbox.org
[init]
	defaultBranch = main
[alias]
	root = rev-parse --show-toplevel
	publish = push -u origin HEAD
	pullother = !git pull origin $1:$1
    hide = update-index --assume-unchanged
    unhide = update-index --no-assume-unchanged
    hidden = !git ls-files -v | grep '^h' | cut -c3-
    cleaner = !git clean -nd && read -rsp $'Press any key to continue...\n' -n 1 key && git clean -fd
    # this alias doesn't always work, however printing the command works
    # current-merge-base = !git merge-base $1 $(git branch --show-current)
# delta config
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false # required for git 2.37.0
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[pull]
	ff = only
