[fetch]
	prune = true
	pruneTags = true
[user]
	name = primeapple
	email = toni.mueller.web@mailbox.org
[init]
	defaultBranch = main
[alias]
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	root = rev-parse --show-toplevel
	publish = push -u origin HEAD
	pullother = !git pull origin $1:$1
    hide = update-index --assume-unchanged
    unhide = update-index --no-assume-unchanged
    hidden = ! git ls-files -v | grep '^h' | cut -c3-
