[submodule "/Users/tmueller/.tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".yadm-project"]
	path = .yadm-project
	url = https://github.com/TheLocehiliosan/yadm.git
[submodule ".asdf"]
	path = .asdf
	url = git@github.com:asdf-vm/asdf.git
